*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    font-family: "Parkinsas",sans-serif;
    background-color: whitesmoke;
    /* font-weight: 300; */
}
header{
    height: 20vh;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 40px 10px 10px 10px;
    font-weight: 600;
}
.container1{
    border: 1px solid black;
}
.container2{
    border: 1px solid black;
}
.container3{
    border: 1px solid black;
}
.container1,.container2,.container3{
    padding: 0;
    background-color: grey;
    margin: 5px;
    font-size: x-large;
    height: 30vh;    
    border: 3px solid black;
}
.name1{
    background-color: pink;
}
.name2{
    background-color: red;
}
.name3{
    background-color: yellow;
}
.name1,.name2,.name3{
    /* background-color: red; */
    /* position: ; */
    margin-left: 78%;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
    padding-right: 10px;
}
.description1,.description2,.description3{
    padding: 20px 10px 10px 15px;
}
@media screen and (max-width:500px){
    main{
        background-color: whitesmoke;
    }
    header{
        height: 5vh;
        margin-top: 5%;
    }
    .container{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }
    .description1,.description2,.description3{
        font-size: large;
        padding-top: 5px;
    }
    .container1,.container2,.container3{
        height: 200px;
        margin: 10px 0px 10px 0px;
    }
    .name1,.name2,.name3{
        margin-left: 70%;
        text-align: center;
    }
}